rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Allow read and write access to the 'plans' collection only if the user is authenticated
    match /plans/{planId} {
      allow read, write: if isAuthenticated();
    }

    // Allow read and write access to the 'fabrics' collection only if the user is authenticated
    match /fabrics/{fabricId} {
      allow read, write: if isAuthenticated();
    }
  }
}
